<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
            <link rel="stylesheet" href="https://www.lirlya.fr/static/pokemaster.css">
    <title> Charts </title>
</head>
        <div>
        It works!
        </div>

<div>
  <canvas id="myChart"></canvas>
</div>

<p> blabla </p>

<div>
        <canvas id='{{ blob.name }}'></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
const CHART_COLORS = {
  red: 'rgb(255, 99, 132)',
  orange: 'rgb(255, 159, 64)',
  yellow: 'rgb(255, 205, 86)',
  green: 'rgb(75, 192, 192)',
  blue: 'rgb(54, 162, 235)',
  purple: 'rgb(153, 102, 255)',
  grey: 'rgb(201, 203, 207)'
};
  const labels = [
    'Jan',
    'February',
    'March',
    'April',
    'May',
    'June',
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'My First dataset',
      backgroundColor: Object.values(CHART_COLORS),
      borderColor: 'rgb(255, 99, 132)',
      data: [0, 10, 5, 2, 20, 30, 45],
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {}
  };
            
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );

  
            
  const data2 = {
    labels: {{ blob.labels }},
    datasets: [{
      label: '{{ blob.label }}',
      backgroundColor: Object.values(CHART_COLORS),
      borderColor: 'rgb(255, 99, 132)',
      data: {{ blob.data }},
    }]
  };

  const config2 = {
    type: '{{ blob.type }}',
    data: data2,
    options: {}
  };
            
  const myChart2 = new Chart(
    document.getElementById('{{ blob.name }}'),
    config2
  );

</script>

    
</html>