<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
            <script src="https://kit.fontawesome.com/5206bd6807.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://www.lirlya.fr/static/minecraftstats.css">
    <title> Charts </title>
</head>
    <body>
        <div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <ul class="pure-menu-list">
                {% for world in worlds %}
                <li><a href="#{{ world.name }}" class="pure-menu-link"> {{ world.name|capitalize }}</a></li>
                {% endfor %}
                <li><a href="#awards" class="pure-menu-link"><i class="fas fa-award"></i> Awards</a></li>
            </ul>
        </div>
    </div>
            
        <div id="content" style="max-width: 95%; margin: auto; text-align:center">

        
        It works babe!
        
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script> const CHART_COLORS = {
  red: 'rgb(235, 40, 40)',
  orange: 'rgb(255, 159, 64)',
  yellow: 'rgb(255, 205, 86)',
  green: 'rgb(75, 192, 192)',
  blue: 'rgb(54, 162, 235)',
  purple: 'rgb(153, 102, 255)',
  grey: 'rgb(201, 203, 207)'
        }; 
            
            const nooption = { responsive: true};
        
            const stacked =  {

                responsive: true,
                scales: {
                  x: {
                    stacked: true,
                      },
                  y: {
                    stacked: true
                      }
                }
            };
            
            
            </script>


    {% for world in worlds %}
            <h1 id="{{ world.name }}"> {{ world.name|capitalize }} </h1>
            
            <p style="color:red"> <i class="fas fa-skull"></i> {{ world.GetDeathMessage() }}</p><p>
        {% for qs in world.quickstats %}  <i class="{{ qs.fa }}"></i> {{ qs.name }} : {{ qs.value }}  <br> {% endfor %}</p>
    {% for chart in world.charts %}
            <h2> {{ world.name }} - {{ chart.name }} </h2>
            <p> {{ chart.intro }} </p>

    {% if chart.display %}
<div>
        <canvas id='{{ chart.id }}' style="max-height: 60vh"></canvas>
</div>
    {% endif %}
            <p> {{ chart.outro }} </p>
    {% if chart.display %}
        <script>
  
            
  const data{{ chart.id }} = {
    labels: {{ chart.labels }},
    datasets: [
        {% for d in chart.datasets %} {
      label: '{{ d.name }}',
      backgroundColor: {{ d.color }},
      borderColor: 'rgb(0, 0, 0)',
      data: {{ d.data }},
    },
        {% endfor %}
        ]
  };

  const config{{ chart.id }} = {
    type: '{{ chart.type }}',
    data: data{{ chart.id }},
    options: {{ chart.options }},
  };
            
  const myChart{{ chart.id }} = new Chart(
    document.getElementById('{{ chart.id }}'),
    config{{ chart.id }}
  );

</script>
{% endif %}
{% endfor %}
            <hr>
{% endfor %}
    {% for chart in totalcharts %}
            <h2> Total - {{ chart.name }} </h2>
            <p> {{ chart.intro }} </p>

    {% if chart.display %}
<div>
        <canvas id='{{ chart.id }}' style="max-height: 70vh"></canvas>
</div>
    {% endif %}
            <p> {{ chart.outro }} </p>
    {% if chart.display %}
        <script>
  
            
  const data{{ chart.id }} = {
    labels: {{ chart.labels }},
    datasets: [
        {% for d in chart.datasets %} {
      label: '{{ d.name }}',
      backgroundColor: {{ d.color }},
      borderColor: 'rgb(0, 0, 0)',
      data: {{ d.data }},
    },
        {% endfor %}
        ]
  };

  const config{{ chart.id }} = {
    type: '{{ chart.type }}',
    data: data{{ chart.id }},
    options: {{ chart.options }},
  };
            
  const myChart{{ chart.id }} = new Chart(
    document.getElementById('{{ chart.id }}'),
    config{{ chart.id }}
  );

</script>
{% endif %}
{% endfor %}
            <h1 id="awards"><i class="fas fa-award"></i> Awards</h1>
            <p> Pour avoir les awards, il faut tuer le dragon. Pour avoir les awards. </p>
            {% for award in awards %}
            <div class="pure-g" style="color:{{ award.color }}; border:{{ award.color }};border-style:inset;margin-bottom:10px;">
    <div class="pure-u-1-6"><p style="font-weight:bold">{{ award.name }}<p><i class="{{ award.fontawesome }}" style="font-size:10vw; margin:auto;"></i></div>
                <div class="pure-u-1-2" style="margin:auto"><b>{{ award.winner }}</b> {{ award.getDescription() }}</div>
    <div class="pure-u-1-3">
             
        {% with chart=award.chart %}
            {% if chart.display %}
<div>
        <canvas id='{{ chart.id }}' style="max-height:20vh"></canvas>
</div>
        <script>
  
            
  const data{{ chart.id }} = {
    labels: {{ chart.labels }},
    datasets: [
        {% for d in chart.datasets %} {
      label: '{{ d.name }}',
      backgroundColor: {{ d.color }},
      borderColor: 'rgb(0, 0, 0)',
      data: {{ d.data }},
    },
        {% endfor %}
        ]
  };

  const config{{ chart.id }} = {
    type: '{{ chart.type }}',
    data: data{{ chart.id }},
    options: {     plugins: {
        legend: {
          display: false
                },
                              },
    
            },
  };
            
  const myChart{{ chart.id }} = new Chart(
    document.getElementById('{{ chart.id }}'),
    config{{ chart.id }}
  );

</script>
{% endif %}
{% endwith %}
                
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
                <script>
            (function (window, document) {

    // we fetch the elements each time because docusaurus removes the previous
    // element references on page navigation
    function getElements() {
        return {
            layout: document.getElementById('layout'),
            menu: document.getElementById('menu'),
            menuLink: document.getElementById('menuLink')
        };
    }

    function toggleClass(element, className) {
        var classes = element.className.split(/\s+/);
        var length = classes.length;
        var i = 0;

        for (; i < length; i++) {
            if (classes[i] === className) {
                classes.splice(i, 1);
                break;
            }
        }
        // The className is not found
        if (length === classes.length) {
            classes.push(className);
        }

        element.className = classes.join(' ');
    }

    function toggleAll() {
        var active = 'active';
        var elements = getElements();

        toggleClass(elements.layout, active);
        toggleClass(elements.menu, active);
        toggleClass(elements.menuLink, active);
    }
    
    function handleEvent(e) {
        var elements = getElements();
        
        if (e.target.id === elements.menuLink.id) {
            toggleAll();
            e.preventDefault();
        } else if (elements.menu.className.indexOf('active') !== -1) {
            toggleAll();
        }
    }
    
    document.addEventListener('click', handleEvent);

}(this, this.document));
        </script>
    </body>
</html>